$color-dark: #040a0a;
$color-mint: #43ffd2;
$color-wine: #7d2253;
$color-pink: #d978ac;
$color-white: #ffffff;
$color-sale: #31985a;
$color-disabled: #555555;
$color-black: #000000;
$color-yellow: #fcff50;
$color-bg-404: #163d8f;
$color-delivery: #6b535f;
$color-bg-about: #c8a156;
$color-bg-contacts: #922d2d;
$color-bg-faq: #3d5279;
$color-bg-corporate: #ea661c;
$font-family: "Oswald", sans-serif;
$second-family: "Cormorant", sans-serif;
$font4: "Roboto Condensed", sans-serif;
