<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content="Excelsio">
        <meta name="copyright" content="© 2025 Excelsio">

        <link rel="apple-touch-icon" sizes="180x180"
            href="/src/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32"
            href="/src/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16"
            href="/src/favicon/favicon-16x16.png">
        <link rel="manifest" href="src/favicon/site.webmanifest">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300..700&family=Oswald:wght@200..700&display=swap"
            rel="stylesheet">

        <title>Lover Flower</title>
        <link rel="stylesheet" href="/src//sass/libs/fontello.css">
    </head>
    <body>
        <%- include('src/templates/header.html'); %>

        <section class="hero">
            <div class="container">
                <h1 class="hero__title" id="hero__title"><span
                        class="hero__title-lover">lover</span> <br>
                    <span class="hero__title-flower">flower</span></h1>

                <div class="hero__content">
                    <h2 class="hero__subtitle">Создаём для тех, кто ценит
                        свежесть и
                        изящество цветка</h2>
                    <button class="hero__btn">смотреть каталог</button>
                    <div class="hero__painting-wrap">
                        <img src="/src//image/main/hero__painting.svg"
                            alt="painting"
                            class="hero__painting">
                    </div>
                </div>

                <%- include('src/templates/sidebar.html'); %>
            </div>

            <div class="hero__bubble bubble__mint"></div>
            <div class="hero__bubble bubble__wine"></div>
            <img src="/src/image/main/hero__bg.png" alt="background"
                class="hero__bg">
            <div class="hero__black-bottom"></div>

        </section>

        <section class="catalog">
            <div class="container">
                <h2 class="title catalog__title">каталог</h2>
                <div class="catalog__wrapper">
                    <div class="catalog__content">
                        <p class="catalog__text">У нас самый большой выбор
                            цветов,
                            букетов, открыток и подарков.
                            Мы всегда поможем вам подобрать букет для вашего
                            события,
                            наш менеджер вас проконсультирует и поможет
                            определиться
                            с
                            выбором</p>
                        <p class="catalog__text">Ознакомьтесь с нашими разделами
                            каталога</p>
                    </div>
                    <div class="catalog__category catalog__category-mini">
                        <h3 class="catalog__category-title title-h3">
                            готовые
                            букеты из
                            сухоцветов</h3>
                        <ul class="catalog__list">

                            <li>букеты</li>
                            <li>для интерьера</li>
                            <li>Композиции</li>
                        </ul>
                        <a href="#" class="catalog__link">смотреть каталог</a>
                    </div>
                    <div class="catalog__category catalog__category-first">
                        <h3 class="catalog__category-title title-h3">Цветы</h3>
                        <ul class="catalog__list">
                            <li>Сборные букеты</li>
                            <li>Монобукеты</li>
                            <li>Композиции из цветов</li>
                            <li>розы</li>
                            <li>свадебные</li>
                        </ul>
                        <a href="#" class="catalog__link">смотреть каталог</a>
                    </div>
                    <div class="catalog__category">
                        <h3
                            class="catalog__category-title title-h3">дополнительно</h3>
                        <ul class="catalog__list">
                            <li>шары</li>
                            <li>игрушки</li>
                            <li>открытки</li>
                            <li>упаковка</li>
                        </ul>
                        <a href="#" class="catalog__link">смотреть каталог</a>
                    </div>
                </div>
            </div>
            <div class="catalog__bg-words">
                <div class="catalog__bg-word">букеты</div>
                <div
                    class="catalog__bg-word catalog__bg-word_center">цветы</div>
                <div class="catalog__bg-word">дополнительно</div>
            </div>
            <div class="catalog__bubble bubble__mint"></div>
            <div class="catalog__bubble bubble__wine"></div>
        </section>

        <section class="hits">
            <div class="container">
                <h2 class="title hits__title">Популярные <br>
                    <span>букеты</span></h2>
                <h3 class="hits__subtitle">Самые любимые композиции
                    наших клиентов</h3>

                <div class="hits__carusel">
                    <div class="swiper">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="hits__card">
                                    <div class="hits__card-wrapper">
                                        <div class="hits__badge_sale">SALE</div>
                                        <div
                                            class="hits__badge_new hits__badge_new-active">NEW</div>
                                        <img
                                            src="/src/image/bouquet/bouquet1.jpg"
                                            alt="bouquet" class="hits__image">

                                        <div class="hits__name">лучшее
                                            утро</div>
                                        <div class="hits__price">167.000 ₽<span
                                                class="hits__price_old"></span></div>
                                        <button class="hits__btn">В
                                            корзину</button>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="hits__card">
                                    <div class="hits__card-wrapper">
                                        <div class="hits__badge_sale">SALE</div>
                                        <div class="hits__badge_new ">NEW</div>
                                        <img
                                            src="/src/image/bouquet/bouquet2.jpg"
                                            alt="bouquet" class="hits__image">

                                        <div class="hits__name">лучший
                                            день</div>
                                        <div class="hits__price">127.000 ₽<span
                                                class="hits__price_old"></span></div>
                                        <button class="hits__btn">В
                                            корзину</button>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="hits__card">
                                    <div class="hits__card-wrapper">
                                        <div
                                            class="hits__badge_sale hits__badge_sale-active">SALE</div>
                                        <div class="hits__badge_new">NEW</div>
                                        <img
                                            src="/src/image/bouquet/bouquet3.jpg"
                                            alt="bouquet"
                                            class="hits__image">

                                        <div class="hits__name">лучший
                                            вечер</div>
                                        <div class="hits__price">176.000 ₽ <span
                                                class="hits__price_old">203.000
                                                ₽</span></div>
                                        <button class="hits__btn">В
                                            корзину</button>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hits__card">
                                    <div class="hits__card-wrapper">
                                        <div class="hits__badge_sale">SALE</div>
                                        <div class="hits__badge_new ">NEW</div>
                                        <img
                                            src="/src/image/bouquet/bouquet4.jpg"
                                            alt="bouquet" class="hits__image">

                                        <div class="hits__name">лучшая
                                            ночь</div>
                                        <div class="hits__price">163.000 ₽<span
                                                class="hits__price_old"></span></div>
                                        <button class="hits__btn">В
                                            корзину</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hits__button-prev">
                        <svg class="hits__arrow-l" width="80" height="6"
                            viewBox="0 0 80 6" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0 2.99999L5 5.88674L5 0.113242L0 2.99999ZM80 2.5L4.5 2.49999L4.5 3.49999L80 3.5L80 2.5Z"
                                fill="#43FFD2" />
                        </svg>

                    </div>
                    <div class="hits__button-next">
                        <svg class="hits__arrow-r" width="80" height="6"
                            viewBox="0 0 80 6" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M80 3L75 0.113249V5.88675L80 3ZM0 3.5L75.5 3.5V2.5L0 2.5L0 3.5Z"
                                fill="#43FFD2" />
                        </svg>

                    </div>
                </div>
            </div>
        </section>

        <div class style="height: 1000px; background-color: #000;"></div>
        <script type="module" src="/src/js/main.js"></script>

    </body>
</html>