
<section class="cart">
    <div class="cart__wrap">
        <div class="cart__top">
            <div class="cart__head">
                <h3 class="cart__title">Ваша корзина</h3>
                <button class="cart__close">✕</button>
            </div>
            <div class="cart__cards">
                <div class="cart__card">
                    <img src="/src/image/bouquet/bouquet1.jpg"
                        alt="product card" class="cart__card-img">
                    <div class="cart__card-control">
                        <h4 class="cart__card-title">рубиновые
                            искры</h4>
                        <div class="qty">
                            <button
                                class="qty__btn qty__minus">-</button>
                            <div class="qty__input">1</div>
                            <button
                                class="qty__btn qty__plus">+</button>
                        </div>
                    </div>
                    <div class="cart__card-actions">
                        <div class="cart__card-price">167.00 ₽</div>
                        <button class="cart__card-btn">Удалить</button>
                    </div>
                </div>
            </div>
            <div class="cart__cards">
                <div class="cart__card">
                    <img src="/src/image/bouquet/bouquet2.jpg"
                        alt="product card" class="cart__card-img">
                    <div class="cart__card-control">
                        <h4 class="cart__card-title">рубиновые
                            искры</h4>
                        <div class="qty">
                            <button
                                class="qty__btn qty__minus">-</button>
                            <div class="qty__input">1</div>
                            <button
                                class="qty__btn qty__plus">+</button>
                        </div>
                    </div>
                    <div class="cart__card-actions">
                        <div class="cart__card-price">167.00 ₽</div>
                        <button class="cart__card-btn">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart__bottom">
            <div class="upsell">
                <h3 class="upsell__title">Добавьте к заказу <span
                        class="upsell__title_color">Шары:</span>
                </h3>
                <div class="upsell__wrap">
                    <div class="upsell__card">
                        <img src="/src/image/balloons/balloons1.jpg"
                            alt="photograph of exquisite balloons"
                            class="upsell__img">
                        <div class="upsell__info">
                            <h4 class="upsell__name">ШАР “ЗВЕЗДА”</h4>
                            <div class="upsell__price">11.00 ₽</div>
                            <button
                                class="upsell__btn">Добавить</button>
                        </div>
                    </div>
                    <div class="upsell__card">
                        <img src="/src/image/balloons/balloons2.jpg"
                            alt="photograph of exquisite balloons"
                            class="upsell__img">
                        <div class="upsell__info">
                            <h4 class="upsell__name">ШАР “ЗВЕЗДА”</h4>
                            <div class="upsell__price">11.00 ₽</div>
                            <button
                                class="upsell__btn">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subtotal">
                <div class="subtotal__result">Предварительный итог:
                    <span class="subtotal__value">315.00 руб.</span>
                </div>
                <h3 class="subtotal__title">Чтобы узнать стоимость
                    доставки, перейдите к оформлению заказа.
                </h3>
                <button class="subtotal__btn btn">Оформить
                    заказ</button>
            </div>
        </div>
        <div class="cart__bubble cart__bubble_mint  bubble__first"></div>
        <div class="cart__bubble cart__bubble_wine bubble__second"></div>
    </div>
</section>