<!-- <nav class="mobile-menu__mobile">
    <a href="#" class="header-mobile__logo logo">
        <span class="l">l</span><span class="f">f</span>
    </a>
    <ul class="mobile-menu__menu">
        <li class="search js-search">
            <button class="search__trigger js-search-trigger">
                <img src="/src/icon/search.svg" alt="search" />
                <span class="search__text">Поиск</span>
            </button>
            <div class="search__overlay">
                <input id="#"
                    type="search"
                    class="search__input"
                    placeholder="Введите свой запрос" />
                <button class="search__close js-close-search">╳</button>
            </div>
        </li>
        <li><a href="#" clzass="mobile-menu__link">Каталог</a></li>
        <li><a href="#" class="mobile-menu__link">Доставка и
                оплата</a></li>
        <li><a href="#" class="mobile-menu__link">О нас</a></li>
        <li><a href="#" class="mobile-menu__link">Контакты</a></li>
        <li><a href="#" class="mobile-menu__link">FAQ</a></li>
        <li><a href="#" class="mobile-menu__link">для корпоративных
                клиентов</a></li>

    </ul>
    <div class="mobile-menu__strip"></div>

    <div class="mobile-menu__contacts">
        <a href="mailto:zakaz@loverflower.by"
            class="mobile-menu__email mobile-menu__title">zakaz@loverflower.by</a>
        <p class="mobile-menu__delivery mobile-menu__subtitle">Доставка 24/7 по
            договоренности с оператором</p>
    </div>

    <div class="mobile-menu__info">
        <p class="mobile-menu__address mobile-menu__title">ул. Тимирязева 67</p>
        <p class="mobile-menu__schedule mobile-menu__subtitle">10:00 до 21:00
            <br> без
            выходных</p>
    </div>
</nav> -->
