<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content="Excelsio">
        <meta name="copyright" content="© 2025 Excelsio">

        <link rel="apple-touch-icon" sizes="180x180"
            href="/src/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32"
            href="/src/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16"
            href="/src/favicon/favicon-16x16.png">
        <link rel="manifest" href="src/favicon/site.webmanifest">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300..700&family=Oswald:wght@200..700&display=swap"
            rel="stylesheet">

        <title>Lover Flower</title>
    </head>
    <body>
        <%- include('src/templates/header.html'); %>
        <%- include('src/templates/header__mobile.html'); %>
        <section class="hero">
            <h1 class="hero__title">Этот текст уедет в хедер при скролле</h1>
        </section>
        <script type="module" src="/src/js/main.js"></script>
    </body>
</html>