<!DOCTYPE html>
<html lang="ru">
    <head>
        <%- include('src/templates/head.html'); %>
        <title>LF-Corporate clients</title>
    </head>
    <body class="page-corporate">
        <main class="page-corporate__main">
            <%- include('src/templates/header.html'); %>
            <section class="hero">
                <div class="container">
                    <div class="path hero__path hero__up_z-index">
                        <a href="/index.html">Главная</a>
                        /
                        <a href="/corporate/">корпоративным клиентам</a>
                    </div>
                    <h1 class="hero__title hero__up_z-index">Букеты</h1>
                    <h2 class="hero__subtitle hero__up_z-index">поздравления для
                        <span>Ваших работников</span></h2>
                    <div class="hero__info hero__up_z-index">Если у Вас большое
                        количество
                        сотрудников (или не очень) и вы устали помнить о каждом
                        их Дне рождении и как чем поздравить, то <span
                            class="hero__info hero__info_color">мы можем
                            делать
                            это за Вас.</span>
                    </div>

                    <div class="hero__wrapper hero__up_z-index">
                        <p class="hero__text">Одним вариантом сотрудничества
                            является предоставление нам перечня сотрудников с
                            Днями
                            их рождений и мы уже самостоятельно связываемся с
                            каждым, изготавливаем букет либо композицию и
                            доставляем
                            в удобное время сотруднику либо по месту работы либо
                            по
                            месту жительства, так как в настоящее время многие
                            сотрудники продолжают выполнять работу удалённо либо
                            находятся на больничном или в отпуске. </p>
                        <p class="hero__text">Другим вариантом сотрудничества
                            является заказ букетов самостоятельно представителем
                            организации за день до нужной даты.
                        </p>
                        <p class="hero__text ">
                            Так вы <span class="hero__text_color">экономите
                                время</span> остальных сотрудников на сбор
                            денег на поиск подарка и доставку его получателю, а
                            также оберегаете себя от риска пропустить кого-либо
                            из
                            важных организации людей, а именно так Вы проявляете
                            заботу и внимание к сотрудникам для того, чтобы и к
                            делам Вашей организации они относились со всей
                            внимательностью и также не пропускали важные дни.
                        </p>
                    </div>
                </div>
                <img src="/src/image/corporate/corporate__bg-2.png"
                    alt="beautiful flowers for the background"
                    class="hero__img hero__img_z-index">
                <img src="/src/image/corporate/corporate__bg-2.png"
                    alt="beautiful flowers for the background"
                    class="hero__img_2 hero__img_z-index">
            </section>
            <section class="cost">
                <div class="container">
                    <h2 class="cost__title">Букеты могут изготавливаться в
                        фирменном цвете организации и есть возможность делать
                        поздравления на Вашей фирменной открытке, которую мы
                        можем изготовить сами.</h2>
                    <h3 class="cost__subtitle">Стоимость одного букета не менее
                        60 рублей.</h3>

                    <div class="cost__wrapper">

                        <div class="cost__item cost__item_title">Количество
                            заявок в месяц</div>
                        <div class="cost__item cost__item_title">Приятные
                            бонусы</div>

                        <div class="cost__item">1-2</div>
                        <div class="cost__item">Стоимость одной доставки по
                            Минску – 10 рублей, за пределы МКАД – от 20
                            рублей</div>

                        <div class="cost__item">3-10</div>
                        <div class="cost__item">Доставка бесплатно
                            Букет-подарок руководителю в его День
                            рождения</div>

                        <div class="cost__item">Более 10</div>
                        <div class="cost__item">Доставка бесплатно
                            Букет-подарок руководителю в его День рождения
                            Праздничная ель перед Новым годом</div>

                    </div>

                    <div class="process">
                        <div class="process__item process__item_style"> </div>
                        <div class="process__item">
                            <h3 class="process__title">этапы работы:</h3>
                            <ul class="process__list">
                                <li>Заполнение заявки</li>
                                <li>Подписание договора</li>
                                <li>Вручение цветов</li>
                                <li>Отчет о доставленных заказах</li>
                                <li>оплата</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <img class="cost__bg"
                    src="/src/image/corporate/corporate__bg.png"
                    alt="beautiful flowers for the background">
            </section>
            <section class="order">
                <div class="container">
                    <h2 class="order__title">Если у Вас единичный заказ, то
                        можете выбрать букет в каталоге либо заказать
                        индивидуальный букет и указать его стоимость, а при
                        оформлении заказа в корзине указать, что оплата будет
                        производиться с расчётного счёта организации.
                    </h2>

                    <form action="#" class="order__form">
                        <h3 class="order__subtitle">заполните заявку:</h3>

                        <div class="order__wrapper">
                            <div class="order__section">
                                <div class="order__field">
                                    <label class="order__label"
                                        for="order__name-organization">Наименование
                                        организации</label>
                                    <input
                                        type="name"
                                        id="order__name-organization"
                                        class="order__input"
                                        placeholder="Введите наименование вашей организации"
                                        pattern="[A-Za-zА-Яа-яЁё\s]{2,}"
                                        minlength="2"
                                        required
                                        title="Название должно содержать только буквы и быть не менее 2 символов">
                                </div>
                                <div class="order__field">
                                    <label class="order__label"
                                        for="order__mailing-address">Почтовый
                                        адрес</label>
                                    <input
                                        type="text"
                                        id="order__mailing-address"
                                        class="order__input"
                                        placeholder="Введите почтовый адрес"
                                        required>
                                </div>
                                <div class="order__field">
                                    <label for="order__contact-person"
                                        class="order__label">Контактное
                                        лицо</label>
                                    <input type="name"
                                        id="order__contact-person"
                                        class="order__input"
                                        placeholder="Введите ваше имя"
                                        pattern="[A-Za-zА-Яа-яЁё\s]{2,}"
                                        minlength="2"
                                        required
                                        title="Имя должно содержать только буквы и быть не менее 2 символов">
                                </div>
                                <div class="order__field">
                                    <label for="order__contact-phone"
                                        class="order__label">Контактный номер
                                        телефона</label>
                                    <input type="tel"
                                        id="order__contact-phone"
                                        class="order__input"
                                        placeholder="+7 (977) 777-77-77"
                                        pattern="^(\+7|7|8)?[\s\-]?\(?[0-9]{3}\)?[\s\-]?[0-9]{3}[\s\-]?[0-9]{2}[\s\-]?[0-9]{2}$"
                                        required>
                                </div>
                                <div class="order__field">
                                    <label for="order__cost"
                                        class="order__label">Стоимость букета
                                        сотруднику
                                        (если разная – указать)</label>
                                    <input
                                        type="text"
                                        class="order__input"
                                        id="order__cost"
                                        placeholder="Укажите стоимость букета сотруднику"
                                        required>
                                </div>
                                <div class="order__field">
                                    <label class="order__label"
                                        for="order__email">Адрес электронной
                                        почты</label>
                                    <input class="order__input"
                                        type="email"
                                        name="email"
                                        id="order__email"
                                        pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                                        placeholder="Укажите ваш адрес электронной почты"
                                        required>
                                </div>
                            </div>
                            <div class="order__section">
                                <div class="order__field">
                                    <label class="order__label"
                                        for="order__unp">УНП</label>
                                    <input
                                        class="order__input"
                                        type="number"
                                        id="order__unp"
                                        pattern="\d{9}"
                                        placeholder="УНП"
                                        minlength="9"
                                        maxlength="9"
                                        title="УНП номер состоит из 9 цифр"
                                        required>
                                </div>
                                <div class="order__field">
                                    <label for="order__payment-account"
                                        class="order__label">Расчетный
                                        счет</label>
                                    <input
                                        class="order__input"
                                        type="number"
                                        name="account"
                                        id="order__payment-account"
                                        minlength="20"
                                        maxlength="20"
                                        pattern="\d{20}"
                                        placeholder="Введите номер расчетного счета"
                                        required
                                        title="Введите 20 цифр расчетного счета">
                                </div>
                                <div class="order__field">
                                    <label class="order__label"
                                        for="order__bank-code">Код банка</label>
                                    <input
                                        class="order__input"
                                        type="number"
                                        name="code"
                                        id="order__bank-code"
                                        placeholder="Код банка"
                                        required>
                                </div>
                                <div class="order__field">
                                    <label for="order__qty-application"
                                        class="order__label">Предполагаемое
                                        количество
                                        заявок в месяц</label>
                                    <input
                                        class="order__input"
                                        type="number"
                                        name="qty"
                                        id="order__qty-application"
                                        placeholder="Введите предполагаемое количество заявок в месяц"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="order__btns">
                            <button class="btn-color order__btn">К
                                оплате</button>
                            <div class="order__policy policy">Нажимая
                                на
                                кнопку
                                «Отправить»,
                                я даю свое согласие на обработку
                                персональных
                                данных, в
                                соответствии
                                с <a class="order__link policy__link"
                                    href="/privacy/index.html">Политикой
                                    конфиденциальности,</a>
                            </div>
                        </div>
                        <img
                            src="/src/image/corporate/corporate__painting.svg"
                            class="order__painting" alt="payment">
                    </form>
                </div>

            </section>

            <div class="page__bubble bubble__second"></div>
            <div class="page__bubble bubble__second_two"></div>
        </main>
        <%- include('src/templates/cart.html'); %>
        <%- include('src/templates/footer.html'); %>
        <script type="module"
            src="/src/js/main.js"></script>
    </body>
</html>