<!DOCTYPE html>
<html lang="ru">
    <head>
        <%- include('src/templates/head.html'); %>
        <title>LF-Corporate clients</title>
    </head>
    <body class="page-corporate">
        <main class="page-corporate__main">
            <%- include('src/templates/header.html'); %>
            <section class="hero">
                <div class="container">
                    <div class="path hero__path hero__up_z-index">
                        <a href="/index.html">Главная</a>
                        /
                        <a href="/corporate/">корпоративным клиентам</a>
                    </div>
                    <h1 class="hero__title hero__up_z-index">Букеты</h1>
                    <h2 class="hero__subtitle hero__up_z-index">поздравления для
                        <span>Ваших работников</span></h2>
                    <div class="hero__info hero__up_z-index">Если у Вас большое
                        количество
                        сотрудников (или не очень) и вы устали помнить о каждом
                        их Дне рождении и как чем поздравить, то <span
                            class="hero__info hero__info_color">мы можем
                            делать
                            это за Вас.</span>
                    </div>

                    <div class="hero__wrapper hero__up_z-index">
                        <p class="hero__text">Одним вариантом сотрудничества
                            является предоставление нам перечня сотрудников с
                            Днями
                            их рождений и мы уже самостоятельно связываемся с
                            каждым, изготавливаем букет либо композицию и
                            доставляем
                            в удобное время сотруднику либо по месту работы либо
                            по
                            месту жительства, так как в настоящее время многие
                            сотрудники продолжают выполнять работу удалённо либо
                            находятся на больничном или в отпуске. </p>
                        <p class="hero__text">Другим вариантом сотрудничества
                            является заказ букетов самостоятельно представителем
                            организации за день до нужной даты.
                        </p>
                        <p class="hero__text ">
                            Так вы <span class="hero__text_color">экономите
                                время</span> остальных сотрудников на сбор
                            денег на поиск подарка и доставку его получателю, а
                            также оберегаете себя от риска пропустить кого-либо
                            из
                            важных организации людей, а именно так Вы проявляете
                            заботу и внимание к сотрудникам для того, чтобы и к
                            делам Вашей организации они относились со всей
                            внимательностью и также не пропускали важные дни.
                        </p>
                    </div>
                </div>
                <img src="/src/image/corporate/corporate__bg-2.png"
                    alt="beautiful flowers for the background"
                    class="hero__img hero__img_z-index">
                <img src="/src/image/corporate/corporate__bg-2.png"
                    alt="beautiful flowers for the background"
                    class="hero__img_2 hero__img_z-index">
            </section>
            <section class="cost">
                <div class="container">
                    <h2 class="cost__title">Букеты могут изготавливаться в
                        фирменном цвете организации и есть возможность делать
                        поздравления на Вашей фирменной открытке, которую мы
                        можем изготовить сами.</h2>
                    <h3 class="cost__subtitle">Стоимость одного букета не менее
                        60 рублей.</h3>

                    <div class="cost__wrapper">

                        <div class="cost__item cost__item_title">Количество
                            заявок в месяц</div>
                        <div class="cost__item cost__item_title">Приятные
                            бонусы</div>

                        <div class="cost__item">1-2</div>
                        <div class="cost__item">Стоимость одной доставки по
                            Минску – 10 рублей, за пределы МКАД – от 20
                            рублей</div>

                        <div class="cost__item">3-10</div>
                        <div class="cost__item">Доставка бесплатно
                            Букет-подарок руководителю в его День
                            рождения</div>

                        <div class="cost__item">Более 10</div>
                        <div class="cost__item">Доставка бесплатно
                            Букет-подарок руководителю в его День рождения
                            Праздничная ель перед Новым годом</div>

                    </div>

                    <div class="process">
                        <div class="process__item process__item_style"> </div>
                        <div class="process__item">
                            <h3 class="process__title">этапы работы:</h3>
                            <ul class="process__list">
                                <li>Заполнение заявки</li>
                                <li>Подписание договора</li>
                                <li>Вручение цветов</li>
                                <li>Отчет о доставленных заказах</li>
                                <li>оплата</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <img class="cost__bg"
                    src="/src/image/corporate/corporate__bg.png"
                    alt="beautiful flowers for the background">
            </section>

            <div class="page__bubble bubble__second"></div>
            <div class="page__bubble bubble__second_two"></div>

        </main>
        <%- include('src/templates/cart.html'); %>
        <%- include('src/templates/footer.html'); %>
        <script type="module"
            src="/src/js/main.js"></script>
    </body>
</html>