<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('src/templates/head.html'); %>
        <title>LF-Catalog</title>
    </head>
    <body class="page-catalog">
        <%- include('src/templates/header.html'); %>
        <div class="hero">
            <div class="container">
                <%- include('src/templates/sidebar.html'); %>
                <div class="path hero__path">
                    <a href="/index.html">Главная</a>
                    /
                    <a href="/catalog/index.html">Каталог</a>
                </div>

                <div class="hero__wrapper">
                    <div class="hero__content">
                        <h1 class="hero__title">каталог <br>
                            <span>букетов</span>
                        </h1>
                        <p class="hero__subtitle">
                            В нашем магазине самый большой
                            выбор букетов для любых событий:
                        </p>
                        <ul class="hero__category">
                            <li>
                                <button class="hero__category-btn">Букеты из
                                    гипсофил</button>
                            </li>
                            <li>
                                <button class="hero__category-btn">Букеты из
                                    ромашек</button>
                            </li>
                            <li>
                                <button class="hero__category-btn">Букеты из
                                    хризантем</button>
                            </li>
                            <li>
                                <button class="hero__category-btn">Комнатные
                                    цветы в
                                    горшках</button>
                            </li>
                            <li>
                                <button
                                    class="hero__category-btn">Монобукеты</button>
                            </li>
                            <li>
                                <button class="hero__category-btn">Сборные
                                    букеты</button>
                            </li>
                            <li>
                                <button class="hero__category-btn">Букет на
                                    праздник</button>
                            </li>
                            <li>
                                <button class="hero__category-btn">Композиции из
                                    цветов</button>
                            </li>
                            <li>
                                <button
                                    class="hero__category-btn">Конверты</button>
                            </li>
                            <li>
                                <button
                                    class="hero__category-btn">Открытки</button>
                            </li>
                            <li>
                                <button
                                    class="hero__category-btn">Подарки</button>
                            </li>
                            <li>
                                <button class="hero__category-btn">Букеты из
                                    сухоцветов</button>
                            </li>
                            <li>
                                <button class="hero__category-btn">Шары</button>
                            </li>
                            <li>
                                <button
                                    class="hero__category-btn">Популярное</button>
                            </li>
                            <li>
                                <button class="hero__category-btn">Букеты
                                    роз</button>
                            </li>
                            <li>
                                <button class="hero__category-btn">Цветы на
                                    похороны</button>
                            </li>
                            <li>
                                <button class="hero__category-btn">Упаковка
                                    подарков</button>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="hero__bubble bubble__mint"></div>
            <div class="hero__bubble bubble__wine"></div>

            <img src="/src/image/catalog/hero__bg.png" alt
                class="hero__bg hero__bg_desktop">
            <img src="/src/image/catalog/hero__bg.png" alt
                class="hero__bg hero__bg_desktop hero__bg_secondary">

            <img src="/src/image/catalog/hero__bg.png" alt
                class="hero__bg hero__bg_mobile">
            <img src="/src/image/catalog/hero__bg.png" alt
                class="hero__bg hero__bg_mobile hero__bg_secondary">

        </div>

        <div style="height: 1000px;"></div>
        <%- include('src/templates/footer.html'); %>
        <script type="module" src="/src/js/main.js"></script>
    </body>
</html>