@use "/src/sass/base/variables.scss" as *;

.policy {
    font-family: $font4;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.02em;
    color: $color-white;
    max-width: 342px;
    &__link {
        text-decoration: underline;
        color: $color-pink;
    }
}
