@use "/src/sass/base/variables.scss" as *;

.hits {
    position: relative;
    overflow: hidden;
    padding: 100px 0 360px; // pb360px для того что бы bubble нализали на следующую секцию
    background: linear-gradient(0deg, #040a0a 0%, rgba(4, 10, 10, 0) 100%), linear-gradient(180deg, #040a0a 0%, rgba(4, 10, 10, 0) 100%);
    background-repeat: no-repeat;
    background-size: 100% 20%;
    background-position: bottom, top;
    &__carusel {
        position: relative;
    }

    &__title {
        span {
            padding-left: 380px;
        }
    }
    &__subtitle {
        margin-top: 10px;

        font-family: $font-family;
        font-weight: 300;
        font-size: 20px;
        letter-spacing: 0.02em;
        color: $color-white;
        text-align: center;
    }
    &__carusel {
        margin-top: 86px;
    }

    &__button-prev,
    &__button-next {
        background: none;
        border: none;
        position: absolute;
        width: 80px;
        top: 225px;
        transform: translateY(-50%);

        cursor: pointer;
    }

    &__button-prev {
        left: -100px;
    }
    &__button-next {
        right: -100px;
    }

    &__arrow-l,
    &__arrow-r {
        path {
            fill: $color-mint;
        }
    }

    &__bg {
        position: absolute;
        top: 120px;
        right: 0;
        z-index: -2; // да, должно быть -1, но я бы вообще убрал бы этот bg
    }
    &__more-link {
        font-family: $font-family;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #d978ac;

        display: block;
        margin: 60px 0 0 10px;
        svg {
            width: 40px;
            height: 6px;
            padding-left: 6px;
            path {
                fill: $color-pink;
            }
        }
    }
    &__bubble {
        position: absolute;
        z-index: -2;
    }
}

@media screen and (max-width: 1290px) {
    .hits {
        &__button-prev {
            top: -15px;
            left: 10px;
        }
        &__button-next {
            top: -15px;
            right: 10px;
        }
        &__bg {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .hits {
        padding-top: 50px;
        &__title {
            text-align: center;
            span {
                padding-left: 0;
            }
        }
        &__swiper {
            overflow: visible !important;
        }
        &__carusel {
            margin-top: 25px;
        }

        &__subtitle {
            text-align: end;
            font-size: 14px;
        }
        &__more-link {
            margin-top: 40px;
        }
    }
}
