@use "/src//sass/base/variables.scss" as *;

.logo {
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #fff;
    font-family: $second-family;
    .l {
        font-weight: 300;
        font-size: 60px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #8a8686;
    }
}
