<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('src/templates/head.html'); %>
        <title>LF-payment-error</title>
    </head>
    <body class="page-404">
        <main class="page-404__main">
            <%- include('src/templates/header.html'); %>
            <section class="hero">
                <div class="container">
                    <div class="hero__wrapper">
                        <div class="hero__digit hero__digit_one">4</div>
                        <div class="hero__digit hero__digit_two">0</div>
                        <div class="hero__digit hero__digit_three">4</div>
                        <img class="hero__img"
                            src="/src/image/not-found/not-found__bg.png"
                            alt="Sasny flowers">
                        <img class="hero__painting"
                            src="/src/image/not-found/not-found__painting.svg"
                            alt="the inscription lover flower">
                    </div>
                    <div class="hero__info">
                        <h1 class="hero__text">Ошибка 404</h1>
                        <p class="hero__text">Упс...Такой страницы нет</p>
                        <a href="/index.html" class="hero__link">на главную</a>
                    </div>
                </div>
                <img class="hero__bg"
                    src="/src/image/not-found/not-found__bg2.png"
                    alt="Sasny flowers">
            </section>
            <img class="hero__img_mobile"
                src="/src/image/not-found/not-found__bg.png"
                alt="Sasny flowers">
            <div class="hero__digit hero__digit_mobile">0</div>

            <div class="page__bubble bubble__second"></div>
            <div class="page__bubble bubble__second_two"></div>

        </main>
        <%- include('src/templates/cart.html'); %>
        <%- include('src/templates/footer.html'); %>
        <script type="module"
            src="/src/js/main.js"></script>
    </body>
</html>