<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('src/templates/head.html'); %>
        <title>LF-payment-error</title>
    </head>
    <body class="page-404">
        <main class="page-404__main">
            <%- include('src/templates/header.html'); %>
            <section class="hero" style="height: 1000px;">
                <div class="container">

                </div>
            </section>
            <div class="page__bubble bubble__second"></div>
            <div class="page__bubble bubble__second_two"></div>

        </main>
        <%- include('src/templates/cart.html'); %>
        <%- include('src/templates/footer.html'); %>
        <script type="module"
            src="/src/js/main.js"></script>
    </body>
</html>