<!DOCTYPE html>
<html lang="ru">
    <head>
        <%- include('src/templates/head.html'); %>
        <title>LF-Contacts</title>
    </head>
    <body class="page-contacts">
        <main class="page-contacts__main">
            <%- include('src/templates/header.html'); %>
            <section class="hero">
                <div class="container">
                    <div class="path hero__path">
                        <a href="/index.html">Главная</a>
                        /
                        <a href="/contacts/index.html">контакты</a>
                    </div>

                    <h1 class="hero__title hero__title_z-index">контакты</h1>

                    <ul class="hero__list">
                        <li>
                            <h3 class="hero__title_h3">время работы</h3>
                            <div class="hero__text">с <time
                                    datetime="10:00">10:00</time> до <time
                                    datetime="21:00">21:00</time> <br> без
                                выходных</div>
                        </li>
                        <li>
                            <h3 class="hero__title_h3">Адрес</h3>
                            <div class="hero__text"><a
                                    href="https://yandex.by/maps/-/CLCyeBJ1"
                                    target="_blank">г. Минск, ул. Тимирязева 67,
                                    комн. 112</a></div>
                        </li>
                        <li>
                            <h3 class="hero__title_h3">Телефон</h3>
                            <div class="hero__text"><a
                                    href="tel:+375 (29) 113-69-69">+375 (29)
                                    113-69-69</a></div>
                        </li>
                        <li>
                            <h3 class="hero__title_h3">E-mail</h3>
                            <div class="hero__text"><a
                                    href="mailto:zakaz@loverflower.by">zakaz@loverflower.by</a></div>
                        </li>
                    </ul>

                </div>
                <img class="hero__img page-contacts__z-index"
                    src="/src/image/contacts/contacts__bg.png"
                    alt="beautiful flowers for the background">
            </section>

            <section class="connect">
                <div class="connect__inner">
                    <div class="container">
                        <h2 class="title connect__title">напишите <br>
                            <span>нам</span>
                        </h2>
                        <div class="connect__text">Отправьте ваш вопрос, заказ,
                            предложение или жалобу через форму обратной связи, и
                            наш
                            специалист свяжется с вами в течение 15 минут.
                        </div>
                        <div class="connect__wrap">
                            <form class="connect__form" action="#">
                                <input class="connect__input" type="text"
                                    placeholder="Ваше имя" required
                                    pattern="[A-Za-zА-Яа-яЁё\s]{2,}"
                                    minlength="2">
                                <input class="connect__input" type="tel"
                                    placeholder="+7 (977) 777-77-77" required
                                    pattern="^(\+7|7|8)?[\s\-]?\(?[0-9]{3}\)?[\s\-]?[0-9]{3}[\s\-]?[0-9]{2}[\s\-]?[0-9]{2}$">
                                <textarea class="connect__textarea"
                                    placeholder="Ваш комментарий"
                                    minlength="5"
                                    required></textarea>
                                <button
                                    class="btn-color connect__btn">отправить</button>
                                <div class="connect__policy policy">Нажимая на
                                    кнопку
                                    «Отправить»,
                                    я даю свое согласие на обработку
                                    персональных
                                    данных, в
                                    соответствии
                                    с <a class="connect__link policy__link"
                                        href="/privacy/index.html">Политикой
                                        конфиденциальности</a></div>
                            </form>
                        </div>
                        <img src="/src/image/contacts/contacts__painting.svg"
                            alt="signature"
                            class="connect__painting">
                        <img
                            src="/src/image/contacts/contacts__painting_mobile.svg"
                            alt="signature"
                            class="connect__painting_mobile">
                    </div>

                </div>
                <img src="/src/image/contacts/contacts__bg.png"
                    alt="tree leaves"
                    class="connect__bg">
            </section>

            <div class="page__bubble bubble__second"></div>
            <div class="page__bubble bubble__second_two"></div>

        </main>
        <%- include('src/templates/cart.html'); %>
        <%- include('src/templates/footer.html'); %>
        <script type="module"
            src="/src/js/main.js"></script>
    </body>
</html>