@use "/src/sass/base/variables.scss" as *;

.page-catalog {
    .catalog {
        position: relative;
        background: none;
        padding-top: 30px;
        &__sort {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
        &__active {
            margin-top: 19px;
            display: flex;
            align-items: center;
            height: 21px;
            gap: 8px;

            &-text {
                font-family: $font-family;
                font-weight: 700;
                font-size: 14px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: $color-mint;
            }

            &-clear {
                background: none;
                border: none;
                width: 14px;
                height: 14px;
                padding: 0;

                display: flex;
                justify-content: center;
                align-items: center;

                cursor: pointer;

                font-size: 10px;
                color: $color-mint;
            }
        }
        &__filter {
            backdrop-filter: blur(20px);
            background: rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            padding: 0 12px 0 20px;
            &-header {
                width: 257px;
                height: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                cursor: pointer;

                &-title {
                    font-family: $font-family;
                    font-weight: 300;
                    font-size: 12px;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    color: #fff;
                }
            }
            &-content {
                display: flex;
                flex-direction: column;
                gap: 10px;

                margin-top: 20px;
                padding-bottom: 12px;
            }
            &-label {
                font-family: $font-family;
                font-weight: 300;
                font-size: 12px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #fff;

                cursor: pointer;
            }
            &-input[type="radio"] {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: transparent;

                border: 0.5px solid $color-white;
                border-radius: 50%;
                width: 12px;
                height: 12px;

                cursor: pointer;
                &:checked {
                    background-color: transparent;
                    border-color: $color-mint;
                    background-color: $color-mint;
                }
            }
        }
        &__filter[open] .catalog__filter-header-arrow {
            transform: rotate(90deg);
            color: $color-mint;
        }
        &__filter[open] .catalog__filter-header-title {
            color: $color-mint;
        }
        &__layout {
            margin-top: 20px;
            display: flex;
            justify-content: start;
            gap: 20px;
        }

        &__content {
            display: flex;
            flex-wrap: wrap;
            row-gap: 60px;
            column-gap: 10px;
            width: 100%;
            transform: none;
        }
        &__sidebar {
            margin-top: 0;
            .filter__content {
                margin-top: 0;
            }
        }
        .card {
            &__wrapper {
                width: 100%;
                max-width: 255px;
            }
            &__img {
                height: 335px;
                filter: none;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        .catalog {
            &__content {
                justify-content: center;
                column-gap: 3q0px;
            }
        }
    }
    @media screen and (max-width: 768px) {
        .catalog {
            padding-top: 40px;
            &__filter {
                display: none;
            }
            &__sort {
                display: none;
            }
            .filter {
                display: none;
            }
            .card {
                &__wrapper {
                    min-width: 300px;
                }
                &__img {
                    height: 335px;
                    filter: none;
                }
            }
        }
    }
}
