@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.page-catalog {
    &__main {
        position: relative;
        overflow: hidden;
    }
    .page__bubble {
        position: absolute;
        z-index: -2;
    }

    .hero {
        overflow: visible;
        &__path {
            margin-top: 115px;
        }
        .sidebar {
            top: -90px;
        }
        &__wrapper {
            padding-right: 190px;
            margin-top: 23px;
        }
        &__content {
            position: relative;
            z-index: 1;
            max-width: 920px;
            width: 100%;
            min-height: 534px;
            padding: 15px 11px 30px 20px;
            border-radius: 20px;
            backdrop-filter: blur(20px);
            background: rgba(0, 0, 0, 0.3);
        }
        &__title {
            font-family: $second-family;

            font-weight: 400;
            @include fluid-font(40, 100);
            letter-spacing: 0.02em;
            text-transform: uppercase;
            text-align: left;
            color: $color-white;
            margin: 0;
            span {
                padding-left: 265px;
            }
        }
        &__subtitle {
            font-family: $font-family;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: $color-white;
            text-align: left;
            padding-left: 265px;
            max-width: calc(430px + 265px);

            margin-top: 20px;
        }
        &__category {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 59px;
            &-mobile {
                display: none;
            }
            &-btn {
                padding: 11px 16px;
                background: none;
                border: 0.5px solid $color-white;
                border-radius: 40px;

                color: $color-white;
                font-family: $font-family;
                font-weight: 400;
                font-size: 12px;
                letter-spacing: 0.03em;

                text-transform: uppercase;
                cursor: pointer;
                &_active {
                    background-color: $color-mint;
                    border-color: $color-mint;
                    color: $color-dark;
                }
            }
        }
        &__bg {
            position: absolute;
            &_desktop {
                width: 1073px;
                height: 717px;
                top: -42px;
                left: -296px;
            }
            &_secondary {
                top: -96px;
                left: auto;
                right: -438px;
                transform: rotate(-79deg);
            }
            &_mobile {
                display: none;
            }
        }
        .filter {
            display: none;
        }
    }
}

@media screen and (max-width: 1024px) {
    .page-catalog {
        .hero {
            &__wrapper {
                padding-right: 0;
            }
            &__content {
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .page-catalog {
        .header {
            background-color: $color-black !important;
            &__logo_mobile {
                display: block;
                font-family: $second-family;
                font-weight: 300;
                font-size: 20px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: $color-white;
                text-align: center;
            }
        }

        .hero {
            &__path {
                margin-top: 100px;
            }
            &__content {
                backdrop-filter: none;
                background: none;
                padding: 0;
                min-height: auto;
            }
            &__title {
                position: relative;
                span {
                    padding-left: 50px;
                }
            }
            &__subtitle {
                padding-left: 50px;
                max-width: calc(240px + 50px);
            }
            &__category {
                display: none;
                &_mobile {
                    display: flex;
                }
                &-btn {
                    letter-spacing: 0;
                }
            }
            &__bg {
                &_desktop {
                    display: none;
                }
                &_desktop &_secondary {
                    display: none;
                }
                &_mobile {
                    display: block;
                    width: 182px;
                    height: 9.375rem;
                    top: 123px;
                    left: -89px;
                    transform: rotate(91deg) scaleX(-1);
                }
                &_secondary {
                    z-index: 100;
                    width: 318px;
                    height: auto;
                    transform: rotate(-91deg);
                    top: 5px;
                    left: auto;
                    right: -135px;
                }
            }
            .filter {
                display: flex;
            }
        }
    }
}
