@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.page-catalog {
    .hero {
        position: relative;
        overflow: hidden;
        padding-bottom: 30px;
        &__path {
            margin-top: 115px;
        }
        .sidebar {
            top: -82px;
        }
        &__wrapper {
            padding-right: 190px;
            margin-top: 23px;
        }
        &__content {
            position: relative;
            z-index: 1;
            max-width: 920px;
            width: 100%;
            padding: 15px 11px 30px 20px;
            border-radius: 20px;
            backdrop-filter: blur(20px);
            background: rgba(0, 0, 0, 0.3);
        }
        &__title {
            font-family: $second-family;

            font-weight: 400;
            @include fluid-font(40, 100);
            letter-spacing: 0.02em;
            text-transform: uppercase;
            text-align: left;
            color: $color-white;
            margin: 0;
            span {
                padding-left: 265px;
            }
        }
        &__subtitle {
            font-family: $font-family;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: $color-white;
            text-align: left;
            padding-left: 265px;
            max-width: calc(430px + 265px);

            margin-top: 20px;
        }
        &__category {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 59px;
            &-mobile {
                display: none;
            }
            &-btn {
                padding: 11px 16px;
                background: none;
                border: 0.5px solid $color-white;
                border-radius: 40px;

                color: $color-white;
                font-family: $font-family;
                font-weight: 400;
                font-size: 12px;
                letter-spacing: 0.03em;

                text-transform: uppercase;
                &_active {
                    background-color: $color-mint;
                    border-color: $color-mint;
                    color: $color-dark;
                }
            }
        }
        &__bg {
            position: absolute;
            &_desktop {
                width: 1073px;
                height: 717px;
                top: -42px;
                left: -296px;
            }
            &_secondary {
                top: 22px;
                left: auto;
                right: -438px;
                transform: rotate(-79deg);
            }
            &_mobile {
                display: none;
            }
        }
        .filter {
            display: none;
        }
    }
}

@media screen and (max-width: 1024px) {
    .page-catalog {
        .hero {
            &__wrapper {
                padding-right: 0;
            }
            &__content {
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .page-catalog {
        .header {
            background-color: $color-black !important;
            &__logo_mobile {
                display: block;
                font-family: $second-family;
                font-weight: 300;
                font-size: 20px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: $color-white;
                text-align: center;
            }
        }

        .hero {
            &__path {
                margin-top: 100px;
            }
            &__content {
                backdrop-filter: none;
                background: none;
                padding: 0;
            }
            &__title {
                position: relative;
                span {
                    padding-left: 50px;
                }
            }
            &__subtitle {
                padding-left: 50px;
                max-width: calc(240px + 50px);
            }
            &__category {
                display: none;
                &_mobile {
                    display: flex;
                }
                &-btn {
                    letter-spacing: 0;
                }
            }
            &__bg {
                &_desktop {
                    display: none;
                }
                &_desktop &_secondary {
                    display: none;
                }
                &_mobile {
                    display: block;
                    width: 182px;
                    height: 9.375rem;
                    top: 123px;
                    left: -89px;
                    transform: rotate(91deg) scaleX(-1);
                }
                &_secondary {
                    z-index: 100;
                    width: 318px;
                    height: auto;
                    transform: rotate(-91deg);
                    top: -101px;
                    left: auto;
                    right: -135px;
                }
            }
            .filter {
                max-width: 300px;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                &__header {
                    cursor: pointer;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 20px;

                    list-style: none;

                    font-family: $font-family;

                    font-weight: 400;
                    font-size: 16px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    text-decoration-skip-ink: none;
                    color: $color-pink;

                    &::-webkit-details-marker {
                        display: none;
                    }
                    &_title {
                        text-decoration: underline;
                    }
                    &_arrow {
                        font-size: 10px;
                    }
                }
                &__section[open] .filter__header_arrow {
                    transform: rotate(90deg);
                    color: $color-mint;
                    align-self: flex-end;
                }
                &__section[open] .filter__header_title {
                    color: $color-mint;
                }
                &__content {
                    margin-top: 20px;
                    padding: 20px 10px 30px;
                    backdrop-filter: blur(20px);
                    background: rgba(0, 0, 0, 0.3);
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    &_sort {
                        margin-top: 10px;
                    }
                }
                &__group {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
                &__title {
                    font-family: $font-family;
                    font-weight: 700;
                    font-size: 14px;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    color: $color-mint;
                }
                &__option {
                    margin-top: 5px;
                    &:first-of-type {
                        margin-top: 8px;
                    }
                }
                &__input[type="checkbox"] {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background: transparent;

                    border: 0.5px solid $color-white;
                    border-radius: 2px;
                    width: 12px;
                    height: 12px;

                    cursor: pointer;
                    &:checked {
                        background-color: transparent;
                        border-color: $color-mint;
                        background-color: $color-mint;
                    }
                }
                &__label {
                    padding-left: 6px;
                    font-family: $font-family;
                    font-weight: 300;
                    font-size: 12px;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    color: $color-white;
                    cursor: pointer;
                }

                .slider {
                    width: 223px;
                    position: relative;
                    margin-top: 13px;

                    & input[type="range"] {
                        -webkit-appearance: none;

                        position: absolute;
                        pointer-events: none;

                        width: 100%;
                        height: 1px;
                        background: transparent;
                        z-index: 2;
                        cursor: pointer;
                    }

                    input[type="range"]::-webkit-slider-thumb {
                        -webkit-appearance: none;

                        pointer-events: all;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background: $color-mint;
                        border: none;
                    }

                    input[type="range"]::-moz-range-thumb {
                        pointer-events: all;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background: $color-mint;
                        border: none;
                    }

                    &__track {
                        height: 1px;
                        background: $color-white;
                        position: absolute;
                        width: 100%;
                        z-index: 0;
                    }

                    &__range {
                        height: 1px;
                        background: $color-mint;
                        position: absolute;
                        z-index: 1;
                    }
                    &__values {
                        margin-top: 10px;

                        font-family: $font-family;
                        font-weight: 300;
                        font-size: 12px;
                        letter-spacing: 0.04em;
                        text-transform: uppercase;
                        color: $color-white;
                    }
                }
                &__btn {
                    padding: 16px 54px;
                }
            }
        }
    }
}
