@use "/src/sass/base/variables.scss" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    &__link {
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-family: $font-family;
    }
    &__search {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.search-box {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100px);
    transition: all 0.3s ease;
}

.search-box.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
}

.search-input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 250px;
}

.search-button {
    padding: 8px 16px;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
