@use "/src/sass/base/variables.scss" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    &__link {
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-family: $font-family;
    }
    &__phone {
        display: block;
    }
    &__actions {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__phone {
        display: block;
    }
    &__btn {
        background: none;
        border: none;
    }
}

.search {
    position: relative;
    display: flex;
    align-items: center;

    &__icon {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
    }

    &__input {
        display: none;
        width: 200px;
        margin-left: 10px;
    }

    &.active {
        .search__input {
            transition: 0.5;
            display: block;
        }

        .search__text {
            display: none;
        }
    }
}

// Глобальное состояние активного поиска
.header {
    &.search-active {
        .header__phone {
            display: none;
        }
    }
}
