@use "/src/sass/base/variables.scss" as *;

// .header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     height: 80px;
//     ul {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//     }
//     &__link {
//         font-weight: 400;
//         font-size: 14px;
//         letter-spacing: 0.04em;
//         text-transform: uppercase;
//         font-family: $font-family;
//     }
//     &__phone {
//         display: block;
//     }
//     &__actions {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         gap: 22px;
//     }
//     &__phone {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         gap: 10px;
//         padding-left: 86px;
//         color: $color-mint;
//     }
//     &__btn {
//         background: none;
//         border: none;
//     }
//     &.search-active {
//         .header__phone {
//             display: none;
//         }
//     }
// }

// .search {
//     position: relative;
//     display: flex;
//     align-items: center;

//     &__icon {
//         display: flex;
//         align-items: center;
//         gap: 10px;
//         cursor: pointer;
//     }

//     &__input {
//         display: none;
//         width: 338px;
//         margin-left: 10px;
//         transition: all 0.5s linears;
//     }

//     &.active {
//         .search__input {
//             display: block;
//         }

//         .search__text {
//             display: none;
//         }
//     }
// }

.header {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;

    &__menu {
        display: flex;
        align-items: center;
        gap: clamp(10px, 5vw, 50px);
    }

    &__link {
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-family: $font-family;
        white-space: nowrap;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__phone {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $color-mint;
        font-family: $font-family;
    }
    &__btn {
        background: none;
        border: none;
    }
}

.search {
    position: relative;

    &__trigger {
        display: flex;
        align-items: center;
        gap: 10px;

        background: none;
        border: none;

        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $color-white;
        font-family: $font-family;

        cursor: pointer;
        z-index: 1;
    }

    &__overlay {
        position: absolute;
        left: 10px;
        top: 0;
        height: 100%;

        display: flex;
        align-items: center;
        gap: 10px;
        width: 0;
        max-width: 338px;

        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
        z-index: 0;

        &::before {
            content: "";
            position: absolute;
            bottom: -4px;
            width: 100%;
            height: 1px;
            background-color: #555;
            left: 0;
        }
    }

    &__input {
        position: relative;
        background: transparent;

        border: none;
        color: $color-white;
        padding-left: 22px;

        font-weight: 300;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #7c7c7c;

        outline: none;
        width: 100%;
    }

    &__close {
        background: none;
        border: none;
        font-size: 24px;
        color: #7c7c7c;
        cursor: pointer;
    }

    &.active {
        .search__overlay {
            width: 400px; // или auto + min/max-width
            opacity: 1;
            pointer-events: all;
            z-index: 2;
        }
    }
}
