@use "/src/sass/base/variables.scss" as *;

.header__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;

        span {
            width: 20px;
            height: 1px;
            background-color: $color-mint;
        }
    }
}
