@use "/src/sass/base/variables.scss" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    &__link {
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-family: $font-family;
    }
    &__phone {
        display: block;
    }
    &__actions {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__phone {
        display: block;
    }
    &__btn {
        display: none;
    }
}

/* Стили для поиска */
.search {
    position: relative;
    display: flex;
    align-items: center;
}

.search__icon {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.search__input {
    display: none;
    width: 200px;
    margin-left: 10px;
}

.search.active .search__input {
    display: block;
}

.search.active .search__text {
    display: none;
}

/* Скрытие номера телефона при активном поиске */
.search.active ~ .heeader__actions .header__phone {
    display: none;
}
