@use "/src/sass/base/variables.scss" as *;

.hero {
    &__title {
        font-weight: 300;
        font-size: 50px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $color-white;
    }
}
