@use "/src/sass/base/variables.scss" as *;

.hero {
    &__title {
        font-weight: 300;
        font-size: 50px;
        letter-spacing: 0.1em;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-family: $second-family;

        transition: transform 0.3s ease, font-size 0.3s ease;
        transform-origin: top center;
    }{}
