@use "/src/sass/base/variables.scss" as *;

.hero__title {
    margin-top: 93px;
    font-weight: 300;
    font-size: clamp(50px, 10vw, 200px);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: $color-white;
    font-family: $second-family;
    text-align: center;
    transition: font-size 0.3s ease;
}

@media screen and (max-width: 768px) {
    .hero__title {
        mt0
        position: fixed;
        top: -40px;
        width: 100%;
        z-index: 2;
        // font-size: 50px;
        letter-spacing: 0.1em;
    }
}
