@use "/src/sass/base/variables.scss" as *;

.hero {
    &__title {
        font-weight: 300;
        font-size: 20px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #fff;
    }
}
