<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('src/templates/head.html'); %>
        <title>LF-delivery</title>
    </head>
    <body class="page-delivery">
        <main class="delivery__main">
            <%- include('src/templates/header.html'); %>
            <section class="hero">
                <div class="container">
                    <div class="path hero__path">
                        <a href="/index.html">Главная</a>
                        /
                        <a href="/delivery/index.html">доставка и оплката</a>
                    </div>
                    <h1 class="hero__title">доставка<span
                            class="hero__title_part-1">и оплата</span>
                    </h1>
                    <div class="hero__wrapper">
                        <div class="hero__mark">!</div>
                        <div class="hero__info">
                            <h2 class="hero__info-title">Дорогие клиенты!</h2>
                            <div class="hero__info-text">Во время пандемии
                                (COVID-19) компания Lover Flower призывает всех
                                меньше контактировать с другими людьми для
                                защиты себя и своих близких. Именно поэтому мы
                                организовали <span
                                    class="hero__info-text_color">БЕСКОНТАКТНУЮ
                                    ДОСТАВКУ</span></div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="method">
                <div class="container">
                    <h2 class="method__title-h2 title-h2">Способы оплаты:</h2>

                    <div class="method__wrap">
                        <div class="method__block">
                            <label class="method__checkbox">
                                <input type="radio" class="method__input"
                                    name="radio" checked />
                                <span class="method__checkmark"></span>
                            </label>
                            <p class="method__text">БАНКОВСКОЙ КАРТОЙ ПРИ
                                ОФОРМЛЕНИИ ЗАКАЗА ЧЕРЕЗ САЙТ или по ссылке</p>
                        </div>
                        <div class="method__block">
                            <label class="method__checkbox">
                                <input type="radio" class="method__input"
                                    name="radio" />
                                <span class="method__checkmark"></span>
                            </label>
                            <p class="method__text">НАЛИЧНЫМИ, БАНКОВСКОЙ КАРТОЙ
                                ПРИ САМОВЫВОЗЕ или с расчетного счета
                                орагнизации</p>
                        </div>
                        <div class="method__block">
                            <label class="method__checkbox">
                                <input type="radio" class="method__input"
                                    name="radio" />
                                <span class="method__checkmark"></span>
                            </label>

                            <p class="method__text">НАЛИЧНЫМИ ПРИ ДОСТАВКЕ
                                КУРЬЕРОМ</p>
                        </div>
                        <div class="method__block">
                            <label class="method__checkbox">
                                <input type="radio" class="method__input"
                                    name="radio" />
                                <span class="method__checkmark"></span>
                            </label>

                            <p class="method__text">КРИПТОВАЛЮТОЙ</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="details">
                <div class="container">
                    <div class="details__price">
                        <h2
                            class="details__title title-h2 details__price-title">стоимость
                            доставки:</h2>
                        <ul class="details__list">
                            <li class="details__text"><span
                                    class="details__text_bold">Бесплатно</span>
                                –
                                при заказе на
                                сумму от <span
                                    class="details__text_color details__text_no-wrap">90
                                    рублей</span></li>
                            <li class="details__text"><span
                                    class="details__text_bold">10 рублей</span>
                                –
                                при заказе на
                                сумму <span
                                    class="details__text_color details__text_no-wrap">менее
                                    90
                                    рублей</span></li>
                            <li class="details__text">Так же вы можете забрать
                                ваш заказ самостоятельно по адресу:
                                <br><span class="details__text_color">г. Минск,
                                    ул.
                                    Тимирязева д. 67, комн. 112
                                    ежедневно с 10.00 до 21.00</span></li>

                        </ul>
                    </div>
                    <div class="details__terms">
                        <h2 class="details__title title-h2">Условия
                            доставки:</h2>
                        <ul class="details__list details__terms-list">
                            <li class="details__text">Доставка осуществляется по
                                городу Минску в пределах МКАД <span
                                    class="details__text_color details__text_no-wrap">в
                                    любой день
                                </span></li>
                            <li class="details__text">Возможность, сроки и
                                стоимость доставки за пределы МКАД, доставки в
                                ночное время, праздники <span
                                    class="details__text_color details__text_no-wrap">оговариваются
                                    с
                                    менеджером</span></li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="terms">
                <div class="container">
                    <div class="terms__wrapper">
                        <h2 class="terms__title title-h2">Дополнительно:</h2>
                        <div class="terms__info">
                            <p class="terms__text">Доставка иному лицу возможна
                                только в случае
                                оплаты
                                заказа заказчиком. Доставка осуществляется не
                                ранее
                                чем
                                через 2 часа после оплаты заказа, но может быть
                                ранее,
                                если букет есть в наличии либо по договорённости
                                с менеджером. <br>
                                Время ожидания курьера составляет 15 минут. <br>
                                В случае если на момент доставки цветов
                                получателя
                                нет
                                либо нет возможности по иным причинам произвести
                                доставку (указан неточный адрес, закрытая
                                входная
                                дверь,
                                контрольно-пропускная система и др.), мы
                                оставляем
                                за
                                собой право по собственному выбору:
                            </p>
                            <ul class="terms__list">
                                <li class="terms__text">оставить цветы тому, кто
                                    открыл
                                    дверь;</li>
                                <li class="terms__text"> с заказчиком
                                    согласовать
                                    повторную доставку, которая
                                    дополнительно оплачивается;</li>
                                <li class="terms__text"> отказаться от передачи
                                    цветов
                                    без возврата денежных
                                    средств.</li>
                            </ul>
                            <p class="terms__text"><br>Если вы либо иной
                                получатель
                                не
                                получили заказ, вам
                                необходимо сообщить об этом менеджеру по
                                телефону <a
                                    href="tel:+375291136969"
                                    class="terms__phone">+375
                                    29 113 69 69</a>.</p>
                        </div>

                        <h2 class="terms__title title-h2">Возврат денег:</h2>

                        <div class="terms__info">
                            <p class="terms__text">При отказе заказчика от
                                заказа в
                                течение двух часов, если заказ ещё не начал
                                готовиться,
                                средства возвращаются в полном объёме. Если же
                                флорист
                                начал подготовку, то заказчик имеет право на
                                возврат
                                50%
                                стоимости, либо, если ещё не был оплачен, то
                                обязан
                                оплатить 50%.
                                <br><br>
                                Цветы надлежащего качества возврату и обмену не
                                подлежат, а если имеются какие-либо недостатки в
                                цветах
                                – возврат производится лишь если эти недостатки
                                не
                                являются природными и естественными изъянами
                                растения. <br>
                                Возврат денежных средств производится
                                незамедлительно на
                                тот счёт, с которого произошла оплата, их же
                                поступление
                                на счёт зависит от платёжной системы.</p>
                        </div>
                    </div>

                </div>
            </section>

            <div class="page__bubble bubble__second"></div>
            <div class="page__bubble bubble__second_two"></div>
            <!-- <img src="#"
                class="delivery__img"
                alt="beautiful flowers for the background"> -->
        </main>
        <%- include('src/templates/cart.html'); %>
        <%- include('src/templates/footer.html'); %>
        <script type="module"
            src="/src/js/main.js"></script>
    </body>
</html>